---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "materialize";
@import "font-awesome/font-awesome";
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
//@import "minima";

.header {
    background-image: url("../assets/bg1.jpg");
    height: 924px;
}

.skills {
    background-image: url("../assets/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow {
    text-shadow: 2px 2px 8px #212121;
}

.about-copy {
    font-size: 2em;
}

.section-border {
    border-bottom: 1px solid color("orange", "accent-2");
    position: relative;
    color: color("orange", "accent-2");
    margin: 1.5em 0 5em;
}

.icon-border {
    position: absolute;
    margin: -16px;
    padding: 0 10px;
    left: 48%;
    background-color: #fff;
}
.skills {
    .row {
        margin-bottom: 0px;
    }
}
.skills-bars {
    background-color: #fff;
    .skill-item {
        margin-top: 1em;
        margin-bottom: 1em;
        display: inline-block;
        width: 100%;
        h3 {
            font-size: 1em;
            margin: 0;
        }
        .skill-bar {
            background-color: color("grey", "darken-1");
            border-radius: 5px 0 0 5px;
            .skill-bar-fill {
                height: 15px;
                position: relative;
                background-color: color("blue", "lighten-1");
                span {
                    position: absolute;
                    right: -17px;
                    top: -  35px;
                    background: #333;
                    color: #fff;
                    padding: 5px;
                    font-size: 0.8em;
                }
                span::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: 9px;
                    bottom: -8px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 8px solid #333;
                }
            }
            .p90 {
                width: 90%;
            }
            .p80 {
                width: 80%;
            }
            .p70 {
                width: 70%;
            }
            .p60 {
                width: 60%;
            }
            .p50 {
                width: 50%;
            }
        }
    }
}

footer.page-footer {
    margin-top: 0px;
}

.footer-social {
    li {
        margin-bottom: 10px;
    }
}

.post > p {
    font-size: 1.2em;
}

.post-date {
    display: block;
    float: right;
    color: $grey-color-light;
    font-size: 0.3em;
    font-style: italic;
}

.responsive-img {
    width: 100%;
    height: auto;
}

// Blog Section
.blog {
    min-height: 70vh;
}