---
layout: default
title: Blog
---
{% include navbar.html %}
<div class="container blog">
    <div class="row">
      <div class="col s12 m8 l10">
        <h1>Latest Posts</h1>
  
        <ul>
          {% for post in site.posts %}
            <li class="post-list">
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
              <p>{{ post.excerpt }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col s12 m4 l2">
        <h3>Categories</h3>
        <ul>
          {% for category in site.categories %}
            <div class="archive-group">
              <li>
                  {% capture category_name %}{{ category | first }}{% endcapture %}
                  <div id="#{{ category_name | slugize }}"></div>
                  <p>{{ category_name | upcase }}</p>
              </li>
              
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

